<!DOCTYPE html>
<html>
  <head>
    <title>Gatekeeper</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#<link rel="stylesheet" href="https://raw.githubusercontent.com/SandersForPresident/bootstrap/master/dist/css/bootstrap.min.css">%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
